#start-btn
{
    width: 40%;
} 
#camera
{
    width:360px;
    height: 250px;
    border:1px solid grey;
}
#logo_img
{
    width: 150px;
    border-radius: 100px;
}
#textbox
{
    width: 300px;
}

.copyright{
    position: fixed; 
    color: black; 
    bottom: 0; 
    width: 100%; 
    background-color: grey; 
    line-height: 3; 
    text-align: center; 
}

img:hover{
    border-radius:140px; 
}

.column{
    display: inline; 
    padding: 10px; 
}